@import '@fontsource-variable/karla';
@import '@fontsource-variable/karla/wght-italic.css';
@import '@fontsource-variable/crimson-pro';
@import '@fontsource-variable/crimson-pro/wght-italic.css';

:root {
	font-family: 'Karla Variable', system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	hyphens: auto;
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-wrap: balance;
}

table {
	white-space: no-wrap;
	overflow-x: auto;
	display: block;
}

td,
th {
	padding: 0.33rem;
	vertical-align: top;
	border-bottom: 1px dashed currentColor;
}

tr {
	&:last-child {
		& td {
			border-bottom: none;
		}
	}
}

td:nth-child(3) {
	white-space: break-spaces;
}

hr {
	height: 0;
	overflow: visible;
	color: inherit;
	border-style: solid;
	border-width: 1px 0 0;
}

th {
	vertical-align: top;
	text-align: start;
}
